
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.fondo {
    background: #ffba6a;
}

h1, h2, h3 {
    color: #222;
    text-align: center;
}


header {
    background: rgb(243, 145, 53);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}


.presentacion,
.texto-menu,
.nosotros,
.nosotros-galeria,
.destacados {
    max-width: 700px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
}


.nosotros img {
    width: 100%;
    max-width: 800px;
    border-radius: 12px;
    display: block;
    margin: 20px auto;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


@media (max-width: 600px) {

    header {
        justify-content: center;
        text-align: center;
    }

    .logo {
        flex-direction: column;
    }

    nav ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .logo img {
        width: 80px;
        height: 80px;
    }
}

